VITE_FIREBASE_API_KEY="AIzaSyBUYJA2Ty4AT-KxYvg2_YJZZYA_HTfFw9I"
VITE_FIREBASE_AUTH_DOMAIN="car-rental-system-70ac7.firebaseapp.com"
VITE_FIREBASE_PROJECT_ID="car-rental-system-70ac7"
VITE_FIREBASE_MESSAGING_SENDER_ID="320459523975"
VITE_SUPABASE_URL=https://pyvlwueijfylsmwplerf.supabase.co
VITE_SUPABASE_ANON_KEY=sb_publishable_Fq9XblLm1czZGEPfAhDL_g_-En3IuB-
VITE_FIREBASE_APP_ID="1:320459523975:web:d417998ca7de04a1f7f522"
VITE_ROADSIDE_HOTLINE="+63 917 888 0000"
